.accordion details {
    border: 1px solid #dadada;
    margin-top:10px;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  .accordion details + details {
    margin-top: 10px;
  }
  
  .accordion details p {
    margin-bottom: 0.8em;
  }
  
  .accordion details summary {
    position: relative;
    padding: 0 16px;
    padding: 18px;
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    
    /* transition: background-color 0.2s; */
    transition: 0.4s;
    color: var(--dark-gray);

    p {
      font-size: 16px;
      margin: 20px 0 10px;
    }
  }
  
  .accordion details[open] summary {
    background-color: var(--light-color);
    background-color: #e5e5e5;
  }
  
  .accordion details summary:focus,
  .accordion details summary:hover {
    background-color: var(--light-color);
  }
  
  .accordion details summary::-webkit-details-marker {
    display: none;
  }
  
  .accordion details summary::after {
    content: '\002b';
    font-weight: bold;
    position: absolute;
    top:35px;
    right:30px;
    color: #777;
    transform: translateY(-50%) translateX(100%);
  }
  
  .accordion details[open] summary::after {
    content: '\2212';
    transform: translateY(-50%) translateX(100%);
  }

  /*  stylelint-disable no-descending-specificity */
  .accordion details .accordion-item-body {
    padding: 0 18px;
    font-size: var(--body-font-size-s);
    color: var(--dark-gray);
    
    h2:first-of-type + p {
      padding: 0 25px 10px;
    }

    h2 {
      font-size: 15px;
      font-family: inherit;
      padding: 10px 25px;
    }

    h3 {
      font-size: inherit;
      font-family: inherit;
      padding: 10px 25px;
    }

    p {
      padding: 0 10px 10px 25px;
      margin: 0;
    }

    p:first-of-type {
      padding: 25px 25px 10px;
      margin: 0;
    }

    ul {
      margin: 0 0 0 25px;
      padding: 0 25px 10px;
    }
  }
  
  .accordion details[open] .accordion-item-body {
    border-top: 1px solid #dadada;
    background-color: var(--background-color);
  }

  .accordion hr {
    border: none;
    border-top: 1px solid var(--light-gray);
  }

  /* styles for an accordion which will put borders under each list item */
  .accordion.list-divider ol > li {
    padding-bottom: 20px;
    padding-top: 20px;
    border: 0;
    border-bottom: 1px solid var(--lighter-gray);
  }

  .accordion.list-divider ol > li > .icon {
    background-color: var(--lighter-gray);
    height: 18px;
    width: 18px;
}

.accordion.list-divider ol {
  padding-left: 25px;
}