@media(width < 900px) {
    .search-container {
        /* visibility: hidden;
        width: 0;
        height: 0; */
        grid-area: centered !important;
        justify-self: center;
        width: 100%;
        background-color: var(--yellow);
        padding: inherit;

        /* text-align: center; */
    }

    nav[aria-expanded = 'true'] .search-container {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .search .search-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }

    .search .search-box input {
        /*
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-width: 10vw;
        max-width: 15vw;
        margin: 0;
        padding: 0.5em;
        */
        margin: 0;
        padding: 0.25rem .75rem;
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-radius: 40px;
        border: 1px solid var(--light-gray);
        background-color: var(--background-color);
        color: var(--text-color);
        font-size: var(--body-font-size-xs);
        transition: border-color 0.2s;
    }
    
    .search .search-box input:hover {
        border: 1px solid var(--text-color);
    }
}

@media (width >= 900px) {
/* search box */
    .search .search-box {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1ch;
        align-items: center;
    }

    .search-container {
        margin-top: .85rem;
    }
    
    .search .search-box input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-width: 10vw;
        max-width: 15vw;
        margin: 0;
        padding: 0.5em;
        border-radius: 40px;
        border: 1px solid var(--dark-color);
        background-color: var(--background-color);
        color: var(--text-color);
        font-size: var(--body-font-size-s);
        transition: border-color 0.2s;
    }
    
    .search .search-box input:hover {
        border: 1px solid var(--text-color);
    }
}

.search .search-box .icon-search {
    visibility: hidden;
    width: 0;
    height: 0;
}
    
/* search results */
.search ul.search-results {
    position: absolute;
    display: grid;

    /* grid-template-columns: repeat(auto-fill, minmax(278px, 1fr)); */
    grid-template-columns: minmax(278px, 1fr);

    /* gap: 24px; */
    gap: 1px;
    padding-left: 0;
    padding-right: 1rem;
    list-style: none;
    margin-top: 5px;
    max-height: 330px;
    overflow-y: auto;
}
    
.search ul.search-results > li {
    /* border: 1px solid #dadada; */
    border: 1px solid var(--light-gray);
    border-top: 2px solid var(--yellow);
    border-radius: 35px;
    background-color: var(--background-color);
}

.search ul.search-results > li:hover,
.search ul.search-results > li:focus {
    background-color: var(--lighter-gray);
}

.search ul.search-results > li > a {
    display: block;
    height: 100%;
    background-color: transparent;

    /* color: currentcolor; */
    cursor: pointer;
    color: var(--text-color);
}

.search ul.search-results > li > a:hover,
.search ul.search-results > li > a:focus {
    text-decoration: none;
}
    
    .search ul.search-results > li .search-result-title,
    .search ul.search-results > li p {
        padding: 0 20px;
    }
    
    .search ul.search-results > li .search-result-title {
        /* font-size: var(--body-font-size-m); */
        font-size: var(--body-font-size-s);
        font-weight: normal;
        margin-top: .25rem;
    }
    
    .search ul.search-results > li .search-result-title a {
        color: currentcolor;
        text-decoration: none;
    }
    
    .search ul.search-results > li p {
        font-size: var(--body-font-size-xs);
        margin-bottom: .25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .search ul.search-results > li .search-result-image {
        aspect-ratio: 4 / 3;
        display: none;
        width: 0;
        height: 0;
    }
    
    .search ul.search-results > li picture img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
    
    /* no results */
    .search ul.search-results.no-results {
        display: block;
        margin-left: 34px;
    }
    
    .search ul.search-results.no-results > li {
        /* border: none; */

        /* border: 1px solid #dadada; */
        border: 1px solid var(--light-gray);
        border-top: 2px solid var(--yellow);
        padding: 5px 10px;
        font-size: var(--body-font-size-xs);
        color: var(--text-color);
    }
    
    /* minimal variant */
    .search.minimal ul.search-results {
        display: block;
        padding-left: 34px;
    }
    
    .search.minimal ul.search-results > li {
        position: relative;
        border: none;
    }
    
    .search.minimal ul.search-results > li .search-result-title,
    .search.minimal ul.search-results > li p {
        padding: unset;
    }
    
    .search.minimal ul.search-results > li .search-result-title a {
        color: var(--link-color);
    }
    
    /* stylelint-disable no-descending-specificity */
    .search.minimal ul.search-results > li > a {
        background-color: unset;
    }
    
    .search.minimal ul.search-results > li > a:hover a,
    .search.minimal ul.search-results > li > a:focus a {
        text-decoration: underline;
        color: var(--link-hover-color);
    }
    
    .search.minimal ul.search-results > li .search-result-image {
        position: absolute;
        top: 2px;
        left: -34px;
    }
    
    .search.minimal ul.search-results .search-result-title + p {
        margin-top: 0.25em;
    }
    
    .search.minimal ul.search-results > li picture img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    .search-results mark {
        background-color: var(--yellow);
        border-radius: 8px;
    }

/* } */