.link-bricks .linkbrick-item
{
    padding: 0 0 16px 0;
}

.link-bricks .linkbrick-green
{
    background:  #B9BE40;
}

.link-bricks .linkbrick-red
{
    background:  #B92355;
}

.link-bricks .linkbrick-gray
{
    background:  #B8C7D3;
}

.link-bricks .linkbrick-default
{
    background:  #4C4D4F;
}

.link-bricks a
{
    color: white;
    background-color: inherit;
    text-align: center;
    text-decoration: none;
}

.link-bricks > .linkbrick-column {
    display: flex;
    flex-direction: unset;
  }

  .link-bricks > div {
    display: flex;
  }

  @media (width >= 900px) {
    .link-bricks > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }
}

@media (width >= 900px) {
    .link-bricks > div > div {
        flex: 1;
        order: unset;
    }
}